

body {
  font-family: Arial, sans-serif;
  background-color: #fdfcfc;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1 {
  margin: 20px 0;
  font-size: 5em;
}

h2 {
  font-size: 1.75em;
  text-align: left;
  margin: 10px 0;
}


input {
  padding: 10px;
  margin: 10px 0;
  height: 20px; /* Altura fixa para os inputs */
  width: 85%; /* Largura para ocupar todo o espaço disponível */
  padding: 18px; /* Espaçamento interno para melhor legibilidade */  
  font-size: 16px; /* Tamanho da fonte */
  border: 1px solid #ccc; /* Adicione uma borda para separar visualmente os inputs */
  border-radius: 3px; /* Borda arredondada */
}

button {
  background-color: #3897f0;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 40px; /* Altura fixa para os botões */
  width: 96%; /* Largura para ocupar todo o espaço disponível */
  padding: 10px; /* Espaçamento interno para melhor legibilidade */
  margin: 10px 0; /* Espaçamento vertical entre os botões */
  font-size: 16px; /* Tamanho da fonte */
  
  
}

button:hover {
  background-color: #2674c2; /* Cor do botão ao passar o mouse */
}

.linha-continua {
  text-align: center;
  border-bottom: 2px solid #ccc; /* Adapte a espessura e a cor conforme necessário */
  line-height: 0.1em; /* Ajuste a altura da linha para controlar o espaçamento */
  margin: 10px 0;
}

.linha-continua span {
  background-color: #fff; /* Cor de fundo para cobrir a linha */
  padding: 0 10px; /* Espaçamento horizontal para cobrir a linha */
  font-size: 1em; /* Ajuste o tamanho da fonte conforme necessário */
  color: #777; /* Cor do texto da linha */
}


